repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.5
    hooks:
      - id: ruff
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: []
  - repo: https://github.com/pre-commit/mirrors-pyright
    rev: v1.1.354
    hooks:
      - id: pyright
        args: ["--warnings"]
